.pai{
background: rgb(255, 153, 0);
width: 400px;
height: 400px;

left: 100px;

margin-top: 200px;

top: 20px;

position: sticky;
}





.filho{
left: 20px;
top: 100px;

width: 200px;
height: 200px;
background: rgb(22, 252, 252);




position: relative;
}






.neto{
    width: 100px;
    height: 100px;
    background: rgb(218, 6, 182);

    left: 20px;

    position: absolute ;
}

body{

    height: 300vh;
}