*{
    margin: 0;
    padding: 0;
}

/*formulario*/

#area{
    position: relative;
    left: 35%;
    top: 100px;
    width: 320px;
    height: 270px;
}
#area #formulario
{
    position: absolute;
    display: block;
}
fieldset
{
    background-color: aquamarine;
    width: 300px;
}

legend
{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
