html{
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
    text-align: end;
}
p{
    color: rgb(95, 216, 38);
    width: 200px;
    border: 1px solid rgb(0, 102, 255);
    background-color: white;
    margin: 100px; /* de fora */
    padding: 20px; /*de dentro*/
} 

body{
    width: 800px;
    background-color: rgb(145, 39, 39);
    margin: 0 auto;
    padding: 20px;
    border: 5px solid white;
}

#primeiro{
    text-indent: 10px;
    color: rgb(189, 17, 132);
    width: 500px;
    border: 1px solid rgb(225, 250, 3);
    background-color: aqua;
}

h1{
    margin: 0;
    padding: 20px 0;
    color: rgb(0, 0, 0);
    text-shadow: 3px 3px 1px rgb(255, 0, 221);
    text-align: center;


}

.link-normal{
background-color: aliceblue;
color: blueviolet;
margin: 10px;
padding: 20px;
border: 1px solid pink;

}

.link-bloco{
    display: block;
    background-color: rgb(36, 119, 192);
    color: rgb(22, 153, 33);
    margin: 10px;
    padding: 20px;
    border: 1px solid rgb(255, 0, 43);
    
    }
