h2{
    margin: auto 45px;

}

label{
    margin: auto 40px;
}
input{
    margin: 10px;

}
div{
    width: 200px;
    margin: 20px auto;
}
form{

background: rgb(8, 255, 201) ;
width: 200px;

}
.bt{
    margin: 0px;

}